In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from matplotlib import*
import matplotlib.pyplot as plt
from matplotlib.cm import register_cmap
from scipy import stats

import seaborn
from numpy.linalg import eig

In [13]:
#Step-1.Get dataset
df=pd.read_csv(r"C:\Users\NIHAL\Downloads\QualityControl(QC).csv")
df.head()

     len  width Acceptance
0  12.95  16.63     Accept
1  12.53  17.79     Accept
2  13.57  15.65     Accept
3  13.16  15.47     Accept
4  12.58  14.46     Reject

In [14]:
#The company produce raw material. Length and width of raw material is given into the table. 
#The ‘Acceptance’ column note the acceptance status of the user. 
#The acceptance is depend upon len and width which we have reduce it to one column only.

In [15]:
#Step-2. Standardize the Dataset:
# calculate mean (µ)
lm=df['len'].mean()
wm=df['width'].mean()
print('maen of len:',lm)
print('mean of width:',wm)

# calculate standard deviation
sl=df['len'].std()
sw=df['width'].std()
print('standard deviation of len:',sl)
print('standard deviation of width:',sw)

maen of len: 12.888571428571426
mean of width: 15.677142857142856
standard deviation of len: 0.4902186101264269
standard deviation of width: 1.4050588870899592

In [16]:
#standardise each value (x) in each column using (x-mean(x)/standard deviation)
#Feature matrix
df['len']=df['len'].apply(lambda x:(x-lm)/sl)
df['width']=df['width'].apply(lambda x:(x-wm)/sw)
df

        len     width Acceptance
0  0.125309  0.678162     Accept
1 -0.731452  1.503750     Accept
2  1.390050 -0.019318     Accept
3  0.553689 -0.147426     Accept
4 -0.629457 -0.866258     Reject
5 -1.486217  0.386359     Reject
6  0.778079 -1.535269     Reject
7       NaN       NaN        NaN

In [17]:
#Step-3.Calculate the covariance matrix for the whole dataset
CovMat=df.cov()
CovMat

            len     width
len    1.000000 -0.391154
width -0.391154  1.000000

In [18]:
#Step-4. Calculate eigenvalues and eigenvectors.
values, vectors = eig(CovMat)
print('eigenvalues: \n',values)
print('eigenvectors: \n',vectors)

eigenvalues:
 [0.60884597 1.39115403]
eigenvectors:
 [[-0.70710678  0.70710678]
 [-0.70710678 -0.70710678]]

In [19]:
#Step-5. Sort eigenvalues and their corresponding eigenvectors.
vectors.sort()
vectors

array([[-0.70710678,  0.70710678],
       [-0.70710678, -0.70710678]])

In [20]:
# Step-6. Select eigenvalues on the basis of no of principal components required (here we required one)
#drop categorical column
df1=df.drop('Acceptance',axis=1)
# select first vector vectors[0] as we required single principal component

In [21]:
# Step-7. Get principal component. using [Feature matrix * top k eigenvectors = Transformed Data]
#Feature matrix=df1
#top k eigenvectors= vectors[0]
PC1=df1.dot(vectors[0])

In [22]:
PC1

0    0.390926
1    1.580526
2   -0.996574
3   -0.495763
4   -0.167443
5    1.324111
6   -1.635783
7         NaN
dtype: float64